<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="js/main.js"></script>

  <title>My App</title>
</head>
<body>
  <div ng-controller="PlayerController">
    <button ng-click="player.stop()" class="button alert" ng-show="player.playing">Stop</button>
    <p>Playing audio: <b>{{ player.playing }}</b></p>

    <div>
      <ul id="programs_list">
        <li ng-repeat="program in programs">
          <npr-link ng-model="program" player="player"></npr-link>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
